<div class="item-card">
  <img src="{{image_url}}" onerror="https://pbs.twimg.com/profile_images/783312363978129408/R6vKaLYH_400x400.jpg">
  <h6><a href="item/{{id}}" data-id="{{id}}">{{title}}</a></h6>
  <p class="price">{{price}}$</p>
  <p><button href="item/{{id}}"><a>Contact</a></button></p>
</div>