<<<<<<< HEAD
<div class="item-card">
  <img src="{{image_url}}" onerror="https://pbs.twimg.com/profile_images/783312363978129408/R6vKaLYH_400x400.jpg">
  <h6><a href="item/{{id}}" data-id="{{id}}">{{title}}</a></h6>
  <p class="price">{{price}}$</p>
  <p><button href="item/{{id}}"><a>Contact</a></button></p>
=======
<link rel="stylesheet" type="text/css" href="stylesheets/partials/item.css">

<div class="item-card">
  <img src="{{image_url}}" onerror="https://pbs.twimg.com/profile_images/783312363978129408/R6vKaLYH_400x400.jpg">
  <h6><a href="item/{{id}}" data-id="{{id}}" class="">{{title}}</a></h6>
  <p class="price">{{price}}$</p>
  <p><a  class="btn btn-primary w-100" href="item/{{id}}" role="button">Contact</a></p>
>>>>>>> df044e289d7db155673b04509d5b2fb46cdaf016
</div>